.navbar{
    background-color: blue;
    width: 300px;
    margin-top: 20px;
}
.navbar a{
    display: block;
    color: white;
    text-decoration: none;
    font-size: 25px;
    font-weight: bold;
    line-height: 2;
    margin-left: 50px;
}